// Import variable color : 
@use "../../utils/variable";

// ********************* DÉBUT MENU ***********************/

// Début de la font :
  @font-face {
    font-family: "Shrikhand";
    src: url("/fonts/polices/shrikhand/Shrikhand-Regular.ttf") format("truetype");
  }  
// Fin de la font :


// Début Header :
.container__header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    background-color: variable.$primary;

    & a img {
        max-width: 230px;
        width: 100%;
    }

    & img {
        max-width: 230px;
        width: 100%;

        @media (max-width: 425px) {
          max-width: 165px;
        }
    }
  }
// Fin Header :


// Début Main :
.container__main__menu {
  width: 100%;

  &__block {
    width: 100%;
    
    &__banner img {
      width: 100%;
      max-width: 100%;
      max-height: 500px;
      object-fit: cover;
    }
  }

  // Début Section 1 :
  &__section1 {
    background-color: variable.$primary;
    display: flex;
    justify-content: center;

    &__backround{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: variable.$septenary;
      width: 80%;
      padding: 50px;
      border-radius: 35px 35px 0px 0px;
      margin-top: -45px;

      @media (max-width: 900px) {
        width: 100%;
      }

      @media (max-width: 500px) {
        padding: 30px;
      }

      &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;

        & h3 {
          color: variable.$senary;
          font-size: 30px;
          font-weight: 400;
          font-family: "Shrikhand";

          @media (max-width: 400px) {
            font-size: 25px;
          }

          @media (max-width: 355px) {
            font-size: 21px;
          }
        }

        & i {
          font-size: 28px;
          color: variable.$octonary;
          cursor: pointer;
         }    

         & i:hover {
          font-weight: 600;
          color: variable.$quattuordecimary;
          transform: scale(1.1);
          transition-delay: 0.2s;
         }
      }

      &__blocks {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 65%;
        margin: 50px 50px;
        gap: 40px;

        @media (max-width: 900px) {
          width: 100%;
        }

        &__block {  
          display: flex;
          justify-content: flex-start;
          align-items: self-start;
          flex-direction: column;
          gap: 20px;

          & h4 {
            color: variable.$octonary;
            font-family: Roboto;
            font-size: 22px;
            font-weight: 300;
            border-bottom: solid 3px variable.$tredecimary;
            width: 7%;

            @media (max-width: 400px) {
              font-size: 20px;
            }
          }

          &__card {
            padding: 15px;
            background-color: #ffff;
            border-radius: 15px;
            box-shadow: 0.25rem 0.25rem 10px variable.$denary;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @keyframes apparition {
              0% {
                transform: scale(0);
                opacity: 0%; 
              }
          
              50% {
                opacity: 0%;
              }
          
              100%{
                 transform: scale(1);
                 opacity: 100%;
              }
          
            }           
            animation: apparition .5s; 
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            transform: scale(0);

            &:nth-child(1) { 
              animation-delay: 0s; 
            } 

            &:nth-child(2) { 
              animation-delay: 0.5s; 
            }

            &:nth-child(3) { 
              animation-delay: 1s; 
            }

            &:nth-child(4) { 
              animation-delay: 1.5s 
            }

            &:nth-child(5) { 
              animation-delay: 2s; 
            }

            &:nth-child(6) { 
              animation-delay: 2.5s; 
            }

            &:nth-child(7) { 
              animation-delay: 3s 
            }

            &:nth-child(8) { 
              animation-delay: 3.5s; 
            }

            &:nth-child(9) { 
              animation-delay: 4s 
            }

            &:nth-child(10) { 
              animation-delay: 4.5s; 
            }

            &__text {
              display: flex;
              flex-direction: column;
              gap: 5px;
              width: 80%;

              & h5 {
                color: variable.$octonary;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 600;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              & p {
                color: variable.$octonary;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 300;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }

            &__price {
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              flex-direction: column;
              
              & span {
                color: variable.$senary;
                font-family: Roboto;
                font-size: 16x;
                font-weight: 700;
              }
            }

            &__check {
              display: none;
            }

            &:hover{
              cursor: pointer;
              padding: 0px;

              .container__main__menu__section1__backround__blocks__block__card__text {
                padding-left: 15px;

                @media (max-width: 500px) {
                  width: 65%;
                  
                }

                @media (max-width: 375px) {
                  width: 50%;
                }
              }

              .container__main__menu__section1__backround__blocks__block__card__price{
                @media (max-width: 650px) {
                  padding-right: 15px;
                }
              }

              .container__main__menu__section1__backround__blocks__block__card__check {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 22px;
                background-color: variable.$tredecimary;
                position: relative;
                @keyframes slidein{
                  0%{
                      right: -4%;
                      }
                  100%{
                      right: 0%;
                      }  
                } 
                animation-duration: 1s;
                animation-name: slidein;
                border-radius: 0 15px 15px 0;

                & i{
                  @keyframes rotate {
                    0% {
                      transform: rotate(180deg);
                    }
                    100% {
                      transform: rotate(360deg);
                    }
                  }               
                  animation-duration: 1s;
                  animation-name: rotate;
                  color: variable.$primary;
                  font-size: 30px;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }

      &__btn {
        display: flex;
        justify-content: center;
        align-items: center;

        & button {
          border: none;
          padding: 17px 60px 17px 60px;
          border-radius: 25px;
          font-size: 17px;
          color: variable.$primary;
          font-family: Roboto;
          background: linear-gradient(
            to top,
            variable.$nonary
          );
          text-align: center;
          box-shadow: 0.25rem 0.25rem 10px variable.$denary;
          cursor: pointer;
        }
      }
    }
  }
  // Fin Section 1 :
  
  // Début du footer : 
  .container__footer__menu {
    background-color: variable.$senary;
    padding: 30px 25px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 70px;
    padding-top: 50px;;
    cursor: pointer;

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: start;
      gap: 20px;
    }

    &__block1 {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 15px;
    

      @media (max-width: 900px) {
        justify-content: start;
        align-items: start;
        flex-direction: column;
        order: 2;
      }

      &__text {
        display: flex;
        gap: 10px;

        & img {
          color: variable.$primary;
          object-fit: cover;
        }
        & p {
          color: variable.$primary;
        }
      }
    }
    &__block2 {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 15px;

      @media (max-width: 900px) {
        justify-content: start;
        align-items: start;
        flex-direction: column;
        order: 3;
      }

      & p {
        color: variable.$primary;
      }
    }
    &__block3 {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 15px;

      @media (max-width: 900px) {
        order: 1;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  // Fin du footer : 
}
// Fin du Main

// ********************* FIN MENU ***********************/
