// Début Style de bases :
@font-face {
  font-family: "Inter", sans-serif;
  src: url("/fonts/polices/Inter/static/Inter-Light.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}  
// Fin Style de bases :
