// Color variables
$primary: #ffff;
$secondary: violet;
$tertiary: pink;
$quaternary: rgb(7, 162, 179);
$quinary: #eaeaea;
$senary: #353535;
$septenary: #f7f7f7;
$octonary: #000000;
$nonary: rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9);
$denary: rgba(0, 0, 0, 0.25);
$undenary: #9356db;
$duodenary: #7E7E7E;
$tredecimary: #99e2d0;
$quattuordecimary: #BB64DC;
